@import "tailwindcss";
@import "./typography.css";



@layer base {
  body {
    overflow: hidden;
  }
  body {
    font-family: "Inter";
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--color-title);
  }
  p {
    color: var(--color-paragraph);
    font-family: "Poppins";
  }
  
}

@theme {
  --color-primary: #ff8d4d;
  --color-primary-dark: #e6763d;
  --color-secondary: #cecece;
  --color-title: #323232;
  --color-paragraph: #b6b6b6;
}
