@import "tailwindcss";
@import "./typography.css";

@theme {
  --color-primary: #4a6dff; /* main brand color */
  --color-primary-dark: #3f5ee0; /* darker version of primary */
  --color-secondary: #2a2d53; /* deep secondary base */
  --color-title: #3f4264; /* from text-title */
  --color-paragraph: #6a6c87; /* from text-base */
}

@layer base {
  body {
    overflow: hidden;
    font-family: "Inter";
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--color-title);
  }
  p {
    color: var(--color-paragraph);
    font-family: "Poppins";
  }
}

@layer utilities {
  .transition-all-custom {
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}
